CROSS=m68k-atari-mint-

OPT = -O2 -fomit-frame-pointer
DEFS =
WARN = -Wall -Wstrict-prototypes -Wmissing-prototypes -Wundef -Werror
CFLAGS = -I. $(INCLUDES) -I$(top_srcdir)/include $(OPT) $(WARN) $(DEFS) $(EXTRA_DEFS)
LDFLAGS = -s
CC = $(CROSS)gcc
AS = $(CROSS)gcc
AR = $(CROSS)ar
ARFLAGS = rcs

LIBDIR = $(top_srcdir)/lib
ACS_LOAD = $(top_srcdir)/src/lib/modul/acs_lgnu.s

all::

.s.o:
	$(CC) -c -o $@ $(CFLAGS) $<

acs_load.o: $(ACS_LOAD)
	$(CC) -c -o $@ $(CFLAGS) $<
